# Heroes Of Pymoli Data Analysis

### Heroes Of Pymoli Data Analysis
* While most of the players are male, females spend more (9.8%) per person on items. 
* Players in the age range of 35-39 spent more per person then the other age groups. 
* "Oathbreaker, Last Hope of the Breaking Storm" was the most popular and profitable item sold.

In [1]:
import pandas as pd
import numpy as np

file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)
nodupe_purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Get count of unique screen names

In [4]:

total_players =purchase_data["SN"].nunique()
#insert count into a new DF
player_df = pd.DataFrame(
    {"Total Players": [total_players]
     }
)
player_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [5]:
unique_items =purchase_data["Item ID"].nunique()
avg_price = purchase_data["Price"].mean()
avg_price = round(avg_price,2)
total_rev = purchase_data["Price"].sum()
count_purchase =purchase_data["Price"].count()

In [6]:
purchase_analysis = pd.DataFrame(
    {"Number of Unique Items": [unique_items],
     "Average Price": [avg_price],
     "Number of Purchases": [count_purchase],
     "Total Revenue": [total_rev],
     }
)
purchase_analysis['Total Revenue']= purchase_analysis['Total Revenue'].map('${:,.2f}'.format)
purchase_analysis['Average Price']= purchase_analysis['Average Price'].map('${:,.2f}'.format)
purchase_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

In [7]:
nodupe_purchase_data.drop_duplicates(subset ='SN',inplace=True)

In [8]:
genders = nodupe_purchase_data["Gender"]
total_count = nodupe_purchase_data["Gender"].value_counts()
df = pd.DataFrame(total_count)

In [9]:
percent = round(df['Gender']/df['Gender'].sum()*100,2)
# percent = pd.DataFrame(percent)
gender_demo = pd.concat([df,percent], axis = 1)
gender_demo.columns = ['Gender', 'Percentage of Players']

gender_demo['Percentage of Players']= gender_demo['Percentage of Players'].map('{:,.2f}%'.format)

gender_demo

                       Gender Percentage of Players
Male                      484                84.03%
Female                     81                14.06%
Other / Non-Disclosed      11                 1.91%

## Purchasing Analysis (Gender)

In [10]:
purch_analysis = purchase_data.groupby(["Gender"])
purch_count = purch_analysis["SN"].count()
purch_avg = purch_analysis["Price"].mean()
purch_total = purch_analysis["Price"].sum()
person = purch_analysis["SN"].nunique()
avg_purch_total = (purch_total / person )

In [11]:
the_data_frame = pd.DataFrame({"Purchase Count": purch_count,
                                    "Average Purchase Price": purch_avg,
                                    "Total Purchase Value":purch_total,
                                    "Avg Total Purchase per Person":avg_purch_total
                                   })
the_data_frame['Average Purchase Price']= the_data_frame['Average Purchase Price'].map('${:,.2f}'.format)
the_data_frame['Total Purchase Value']= the_data_frame['Total Purchase Value'].map('${:,.2f}'.format)
the_data_frame['Avg Total Purchase per Person']= the_data_frame['Avg Total Purchase per Person'].map('${:,.2f}'.format)

the_data_frame.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [12]:
age_group = nodupe_purchase_data.groupby("Age")
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]

In [13]:
nodupe_purchase_data["Age Data"] = pd.cut(nodupe_purchase_data["Age"], bins, labels=group_labels)

In [14]:
age_group = nodupe_purchase_data.groupby("Age Data")

In [15]:
total_counts = age_group["Gender"].count()
person = age_group["SN"].nunique()
purch_total = age_group["Age"].sum()
total_countsum = age_group["Gender"].count().sum()
percent_players = (person / total_countsum )*100

not_another_df = pd.DataFrame({"Total Count": total_counts,
                               "Percentage of Players": percent_players 
                                   })
not_another_df['Percentage of Players']= not_another_df['Percentage of Players'].map('{:,.2f}%'.format)


not_another_df

          Total Count Percentage of Players
Age Data
<10                17                 2.95%
10-14              22                 3.82%
15-19             107                18.58%
20-24             258                44.79%
25-29              77                13.37%
30-34              52                 9.03%
35-39              31                 5.38%
40+                12                 2.08%

## Purchasing Analysis (Age)

In [16]:
purchase_data["Age Data"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Data
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [17]:
purch_analysis_age = purchase_data.groupby("Age Data")
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]

In [18]:
purch_count = purch_analysis_age["SN"].count()
purch_avg = purch_analysis_age["Price"].mean()
purch_total = purch_analysis_age["Price"].sum()
persons = purch_analysis_age["SN"].nunique()
avg_purch_total = (purch_total / persons )

In [19]:
purch_analysis_age_df = pd.DataFrame({"Purchase Count": purch_count,
                                    "Average Purchase Price": purch_avg,
                                    "Total Purchase Value":purch_total,
                                    "Avg Total Purchase per Person":avg_purch_total
                                   })
purch_analysis_age_df['Average Purchase Price']= purch_analysis_age_df['Average Purchase Price'].map('${:,.2f}'.format)
purch_analysis_age_df['Total Purchase Value']= purch_analysis_age_df['Total Purchase Value'].map('${:,.2f}'.format)
purch_analysis_age_df['Avg Total Purchase per Person']= purch_analysis_age_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)

purch_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Data,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [20]:
purchase_data.reset_index()
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Data
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [21]:
big_money = purchase_data.groupby("SN")


purchase_count_spender = big_money["SN"].count()
purch_price_avg_spender = big_money["Price"].mean()
purch_total_spender = big_money["Price"].sum()


big_money_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                                   "Average Purchase Price": purch_price_avg_spender.astype("float"),
                                   "Total Purchase Value":purch_total_spender.astype("float"),
                                   })
big_money_spenders= big_money_spenders.sort_values("Total Purchase Value", ascending=False)

big_money_spenders["Average Purchase Price"]= big_money_spenders["Average Purchase Price"].map('${:,.2f}'.format)
big_money_spenders["Total Purchase Value"]= big_money_spenders["Total Purchase Value"].map('${:,.2f}'.format)
big_money_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

In [22]:
popular = purchase_data.groupby(['Item ID','Item Name'])

In [23]:
popular_purchase_count = popular["SN"].count()
popular_purchase_value = popular["Price"].sum()
popular_items_price = popular["Price"].max()

In [24]:
most_popular = pd.DataFrame({"Purchase Count": popular_purchase_count,
                                   "Item Price": popular_items_price.astype("float"),
                                    "Total Purchase Value":popular_purchase_value.astype("float"),
                                   })
most_popular.head()
most_profit = most_popular.copy()

In [25]:
most_popular['Item Price']= most_popular['Item Price'].map('${:,.2f}'.format)
most_popular['Total Purchase Value']= most_popular['Total Purchase Value'].map('${:,.2f}'.format)

In [26]:
most_popular = most_popular.sort_values("Purchase Count", ascending=False)
most_popular.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

In [27]:
most_profit = most_profit.sort_values("Total Purchase Value", ascending=False)
most_profit['Item Price']= most_profit['Item Price'].map('${:,.2f}'.format)
most_profit['Total Purchase Value']= most_profit['Total Purchase Value'].map('${:,.2f}'.format)
most_profit.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

In [28]:
most_profit

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32
179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
160,Azurewrath,6,$4.40,$26.40
25,Hero Cane,6,$4.35,$26.10
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
139,"Mercy, Katana of Dismay",5,$4.94,$24.70
128,"Blazeguard, Reach of Eternity",5,$4.91,$24.55
138,"Peacekeeper, Wit of Dark Magic",5,$4.74,$23.70
141,Persuasion,7,$3.19,$22.33
87,"Deluge, Edge of the West",5,$4.43,$22.15
159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
136,Ghastly Adamantite Protector,6,$3.58,$21.48
65,Conqueror Adamantite Mace,5,$4.24,$21.20
101,Final Critic,5,$4.19,$20.95
102,Avenger,6,$3.44,$20.64
133,Faith's Scimitar,5,$4.09,$20.45
39,"Betrayal, Whisper of Grieving Widows",5,$3.94,$19.70
111,Misery's End,4,$4.89,$19.56
165,Bone Crushing Silver Skewer,4,$4.86,$19.44
75,Brutality Ivory Warmace,8,$2.42,$19.36
52,Hatred,4,$4.84,$19.36
...,...,...,...,...
124,Venom Claymore,4,$1.29,$5.16
0,Splinter,4,$1.28,$5.12
155,War-Forged Gold Deflector,5,$1.01,$5.05
48,"Rage, Legacy of the Lone Victor",2,$2.48,$4.96
158,"Darkheart, Butcher of the Champion",2,$2.45,$4.90
51,Endbringer,1,$4.66,$4.66
134,Undead Crusader,1,$4.50,$4.50
30,Stormcaller,2,$2.21,$4.42
135,Warped Diamond Crusader,3,$1.40,$4.20
91,Celeste,1,$4.17,$4.17
177,"Winterthorn, Defender of Shifting Worlds",2,$2.08,$4.16
70,Hope's End,4,$1.03,$4.12
115,Spectral Diamond Doomblade,2,$2.04,$4.08
69,"Frenzy, Defender of the Harvest",2,$1.98,$3.96
47,"Alpha, Reach of Ending Hope",1,$3.58,$3.58
180,Stormcaller,1,$3.36,$3.36
27,"Riddle, Tribute of Ended Dreams",1,$3.30,$3.30
183,Dragon's Greatsword,3,$1.09,$3.27
31,Trickster,2,$1.55,$3.10
168,"Sun Strike, Jaws of Twisted Visions",2,$1.48,$2.96
90,Betrayer,1,$2.94,$2.94
33,Curved Axe,2,$1.16,$2.32
26,Unholy Wand,2,$1.12,$2.24
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
125,Whistling Mithril Warblade,2,$1.00,$2.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
23,Crucifer,1,$1.99,$1.99
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75